.blue{
  color: #3e8ef7!important;
}



/*
*
* Font sizes
*
*/
.font-size-40{
  font-size: 40px;
}
.font-size-30{
  font-size: 30px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-12{
  font-size: 12px;
}

.vertical-align{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align:middle;

  height: 100%;
  width: 100%;
}

.text-center{
  text-align: center;
}
